

body {
  background-color:  linear-gradient(to bottom, rgba(180, 224, 170, 0.9255) 50%, white 50%);
}


#cabeçalho {
    color: white;
    background-color: rgba(31, 31, 31, 1);
    display: flex;
    list-style: none;
    overflow: hidden;
    gap: 5%;
    margin-left: 15em;
    margin-top: -3.5em;
}
